
div{
    width: 50em;
      text-align: center;
      padding: 1px 1px;
      border: 1px solid rgb(31, 105, 189);
      background-color: rgb(31, 105, 189);
      font-size: 30px;
      font-family: sans-serif;
      color: rgb(246, 248, 250); 
      display: flex;
      justify-content: center ;
      align-items: flex-start;
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(31, 105, 189);
    display: flex;
    justify-content: center ;
    align-items: flex-start;
}
section h2{
    font-size: 5em;
    color: rgb(248, 246, 246);
}

section span{
    position: absolute;
    bottom: 50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
}

section span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70% , -70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
}

@keyframes animate {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        opacity: 1; 
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0;
    }
}




