/*div{
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background: rgb(86, 185, 132);
    display: flex;
    justify-content: center;
    align-items: center;
}

p2{
	width:300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    display: block; 
  	margin-left: auto; 
  	margin-right: auto;
}

input, button{
	width: 50px;
	height: 30px;
	display: block; 
  	margin-left: 45em; 
  	margin-right: 2em;
}*/
input{
    width: 8em;
      text-align: center;
      padding: 5px 5px;
      border: 1px solid #eee;
      border-radius: 6px;
      background-color: #092b76;
      font-size: 20px;
      font-family: sans-serif;
      color: #eee; 
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(31, 105, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 5em;
    color: rgb(248, 246, 246);
}

section span{
    position: absolute;
    bottom: 50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 8s linear infinite;
}

section span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70% , -70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
}

@keyframes animate {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        opacity: 1; 
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0;
    }
}




