div{
    width: 750px;
	height: 400px;
	background-image: url(".imagens/gramado.jpg"); 
	background-repeat: no-repeat;
	display: block; 
  	margin-left: auto; 
  	margin-right: auto; 
}

p2{
	width:300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    display: block; 
  	margin-left: auto; 
  	margin-right: auto;
}

input, button{
	width: 50px;
	height: 30px;
	display: block; 
  	margin-left: 45em; 
  	margin-right: 2em;
}



